@media only screen and (max-width: 768px){
    
.hero{
    height: auto;
    flex-flow: column wrap;
}
.hero-text p{
    display: none;
}

.hero-text a{
    display: none;
}

header .logo{
    display: none;
}
header .search{
    margin-left: 20px;
}
.client-login {
    flex-flow: column wrap;
    padding: 20px;
}

.form-login {
    width: 100%;
}
}